.dashboard-section {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(250, 250, 255);
  color: rgb(20, 27, 77);
}

.dashboard-header {
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.dashboard-header h1 {
  flex: 1;
  text-align: left;
}

#dashboard-button {
  min-width: 150px;
}

.dashboard-edit-button,
.dashboard-save-button {
  padding-top: 4px;
  padding-bottom: 4px;
}

.dashboard-edit-button {
  margin-left: 5px;
}

.dashboard-item {
  background-color: white;
  color: black !important;
  width: 100%;
  margin-bottom: 35px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-row {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.dashboard-subheader {
  width: 100%;
}

.dashboard-container {
  flex: 1;
}

.dashboard-chart-container {
  flex: 3;
  height: 450px;
  margin-right: 15px;
}

.dashboard-card-deck {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dashboard-card {
  width: 32% !important;
}

#funding-card {
  justify-content: center;
}

.card-header,
.list-group-item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.dashboard-card {
  margin-bottom: 15px !important;
}

.dashboard-header-container {
  display: flex;
}

.dashboard-subheader-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.dashboard-subheader {
  display: flex;
  flex-direction: column;
}

.dashboard-table-subheader {
  display: flex;
}

.table-button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-table-button {
  padding-top: 4px;
  padding-bottom: 4px;
}

.dashboard-table-row {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.hide {
  display: none;
}

.dashboard-table-mobile {
  display: none;
}

.popover-body {
  white-space: pre-line;
}

@media screen and (max-width: 950px) {
  .dashboard-header {
    flex-direction: column;
    justify-content: center;
    width: 95%;
  }
  .dashboard-edit-button {
    margin-left: 0px;
    margin-top: 5px;
  }
  .dashboard-header h1 {
    text-align: center;
    padding-bottom: 35px;
  }
  .dashboard-row {
    flex-direction: column;
  }
  .dashboard-chart-container {
    min-height: 300px !important;
    padding-bottom: 15px;
  }
  .dashboard-card-deck {
    text-align: center;
  }
  .dashboard-table-row td,
  .dashboard-table-row th {
    padding: 0px !important;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .dashboard-section {
    padding: 0%;
  }

  .dashboard-card-deck {
    flex-direction: column;
  }
  .dashboard-card {
    width: 100% !important;
  }
}

@media screen and (max-width: 650px) {
  .dashboard-table-desktop {
    display: none;
  }
  .dashboard-table-mobile {
    display: table-cell;
  }
}

@media screen and (max-width: 450px) {
  .dashboard-header-container {
    flex-direction: column;
  }

  .table-button-container {
    justify-content: flex-start;
  }

  .dashboard-button-container {
    margin-top: 25px;
  }

  #dashboard-button {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .dashboard-table-xs-mobile,
  .dashboard-table-mobile {
    display: none;
  }
}
