.footer-row {
  width: 100%;
  background-color: rgb(58, 63, 65);
  color: rgb(250, 250, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.footer-info {
  min-height: 250px;
  padding-top: 50px;
}

.footer-container {
  flex: 1;
  color: rgb(250, 250, 255);
  text-align: center;
}

.footer-heading {
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

.footer-links {
  padding-top: 25px;
}

.footer-links li {
  margin: 10px 0;
}

.footer-container ul {
  list-style-type: none;
}

.footer-link {
  text-decoration: none !important;
  color: rgb(250, 250, 255);
}

.footer-link:hover {
  color: lightgrey;
}

.footer-copyright {
  color: rgb(250, 250, 255);
  min-height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.github-icon {
  -webkit-mask: url(./images/github.svg) no-repeat center;
  mask: url(./images/github.svg) no-repeat center;
  height: 30px;
  width: 30px;
  background-color: lightgrey;
}

.github-icon:hover {
  cursor: pointer;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }
}
