.navbar-upper-container {
  width: 100%;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: rgb(20, 27, 77);
}

.house-icon {
  height: 30px;
  padding-right: 5px;
}

.logo {
  letter-spacing: 1px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.logo:hover {
  cursor: pointer;
}

.navbar-lower-container {
  width: 100%;
  top: 0;
  z-index: 9;
  display: flex;
  position: sticky;
  height: 35px;
  background-color: rgb(20, 27, 77);
}

.navbar-burger {
  align-items: center;
  margin-left: 15px;
}

.navbar-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-links-right {
  justify-content: flex-end;
  margin-right: 5px;
}

.navbar-links-left {
  justify-content: flex-start;
  margin-right: 5px;
}

.navbar-dropdown {
  padding: 0px !important;
}

.navbar-arrow-down {
  border: solid white;
  margin-bottom: 3px;
  margin-left: 2px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.navbar-dropdown-container {
  position: relative;
}

.navbar-dropdown-links {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  border-radius: 3px;
  position: absolute;
  top: 30px;
  right: 10px;
}

.dropdown-item {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.hide {
  display: none;
}

.dropdown-toggle {
  padding: 0px !important;
}

.navbar-burger-link,
.navbar-link {
  color: rgb(255, 255, 255) !important;
  padding: 0px 12px 0px 12px !important;
  text-decoration: none;
  font-size: 16px;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  font-size: 16px;
}

.navbar-dropdown:hover > .navbar-arrow-down {
  border: solid grey;
  border-width: 0 2px 2px 0;
}

.navbar-burger-link:hover,
.nav-link:hover,
.navbar-link:hover {
  text-decoration: none !important;
  color: grey !important;
  cursor: pointer;
}

.user-icon {
  -webkit-mask: url(../styles/images/user-icon.svg) no-repeat center;
  mask: url(../styles/images/user-icon.svg) no-repeat center;
  height: 30px;
  width: 30px;
  background-color: white;
}

.navbar-button {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.navbar-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .user-icon {
    margin-right: 0px;
  }

  .nav-link {
    margin-right: 0px !important;
  }

  .navbar-links-left {
    display: none;
  }

  .navbar-burger {
    float: none;
    display: flex;
    text-align: left;
  }
}
