.navbar {
  height: 56px;
  flex-wrap: nowrap;
}

.navbar-side {
  width: 300px;
  min-width: 300px;
  height: 56px;
}

.navbar-main {
  max-width: 900px;
}

.navbar-menu {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .mobile,
  .navbar-menu {
    display: inherit;
  }
}
