.disclaimer-button {
  min-width: 150px;
}

.modal-lg {
  min-width: 90% !important;
}

@media screen and (max-width: 768px) {
  .disclaimer-footer {
    display: flex;
    flex-direction: column;
  }

  .disclaimer-button {
    flex: 1;
    margin-bottom: 10px;
    width: 100%;
  }
}
