button:disabled {
  cursor: auto;
}

.button-p {
  display: flex;
  height: 40px;
  background-color: $grey3-transp;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $grey4-transp;
  }

  &:active {
    background-color: $grey5-transp;
  }
}

.button-transp-p {
  display: flex;
  height: 40px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $grey3-transp;
  }

  &:active {
    background-color: $grey4-transp;
  }
}

.button-transp-s {
  display: flex;
  height: 40px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: $grey2;
  }

  &:active {
    background-color: $grey3;
  }
}

.button-transp-s.active {
  background-color: $grey2;
}
