.modal {
  z-index: $modal-z-index;
  width: 900px;
  min-height: 350px;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
}

.modal-close-btn {
  position: absolute !important;
  top: 0;
  right: 0;
}

.modal .active {
  border-bottom: 2px solid black;
}

.save-opt span {
  text-align: center;
}

#overwrite-dashboard tbody tr {
  &:hover {
    cursor: pointer;
  }
}

#overwrite-dashboard tbody tr.selected {
  background-color: $gr4;
}

@media screen and (max-width: 768px) {
  .modal {
    margin-top: 16px;
  }

  .save-opt {
    width: 50%;
    height: 65px;
    padding: 20px 8px !important;
  }
}
