.modal {
  z-index: $modal-z-index;
  width: 900px;
  min-height: 350px;
  max-width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-close-btn {
  position: absolute !important;
  top: 0;
  right: 0;
}

.modal-opt {
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }
}

.modal .active {
  border-bottom: 2px solid black;
}
