.overpayments thead tr {
  font-weight: bold;
  background-color: transparent !important;
}

.overpayments tfoot tr {
  background-color: $gr1 !important;
  font-weight: bold;
}

.overpayments tr {
  &:hover {
    background-color: $gr4 !important;
  }
}

.overpayments th,
.overpayments td {
  padding: 8px;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
