.navbar {
  height: $nav-height;
  flex-wrap: nowrap;
  z-index: 1;
}

.navbar-side {
  width: 300px;
  min-width: 300px;
  height: $nav-height;
}

.navbar-main {
  max-width: 1500px;
}

.nav-burger {
  position: absolute;
  left: 8px;
}

.user-dropdown {
  z-index: $modal-z-index;
  background-color: $n1;
  width: 200px;
  position: absolute;
  top: 40px;
  right: 0px;
}

.title {
  font-size: 24px;
}

@media screen and (max-width: 1080px) {
  .title {
    position: absolute;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: initial;
    position: initial;
    margin-left: 40px;
  }

  .user-dropdown {
    position: fixed;
    top: $nav-height;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 340px) {
  .title {
    font-size: 12px;
  }
}
