.dashboard-table thead tr {
  font-weight: bold;
  background-color: transparent !important;
}

.dashboard-table tfoot tr {
  border-top: 1px solid #bbbbbb80;
  font-weight: bold;
}

.dashboard-table tbody tr.hover,
.dashboard-table tr.hover {
  &:hover {
    background-color: $grey2-transp !important;
  }
}

.dashboard-table thead tr,
.dashboard-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #bbbbbb80;
}

.dashboard-table tbody tr:last-child {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.dashboard-table th,
.dashboard-table td {
  padding: 8px;
}

.dashboard-dropdown {
  z-index: $modal-z-index;
  background-color: $grey1;
  width: 100px;
  position: absolute;
  top: 50px;
  right: 25px;
}
