$nav-height: 56px;

$color-base: #352b48;
$bg-color-base: rgb(221, 227, 247);
$nav-color-base: rgb(36, 46, 97);

$font-p: #352b48;
$font-s: #131313;

$weight-normal: 400;
$weight-bold: 700;

// Colours
$primary-0: rgb(36, 46, 97);
$primary-1: rgba(82, 110, 255, 1);
$primary-2: rgba(82, 111, 255, 0.801);
$primary-3: rgba(82, 110, 255, 0.85);

$secondary-1: #485ef08a;
$secondary-2: #485ef0d5;
$secondary-3: #485ef0;

$grey1: #f7f8fb;
$grey2: #edeff5;
$grey3: #dfe1eb;
$grey4: #757883;
$grey5: #888ca6;
$grey6: #545677;

$grey1-transp: rgba(0, 21, 128, 0.03);
$grey2-transp: rgba(4, 22, 110, 0.07);
$grey3-transp: rgba(8, 22, 102, 0.13);
$grey4-transp: rgba(0, 12, 82, 0.26);
$grey5-transp: rgba(3, 10, 66, 0.47);
$grey6-transp: rgba(0, 4, 54, 0.67);

$green1: #e6fae7;
$green2: #3eb066;
$green3: #168745;

$red1: #fff1f0;
$red2: #f73b45;
$red3: #e62236;

$yellow1: #fff4e4;
$yellow2: #ffb54c;

// $grey1: rgba(200, 200, 200, 0.75);
// $grey2: rgba(200, 200, 200, 0.5);
// $grey3: rgba(200, 200, 200, 0.25);
// $grey4: rgba(220, 220, 220, 0.75);

$border-color: black;
$border-radius: 10px;
$border-width: 1px;

$form-input-height: 40px;

$menu-z-index: 5;
$overlay-z-index: 4;
$modal-z-index: 5;
$tooltip-z-index: 2;
