.card button,
.card-rev button {
  max-width: 175px;
}

.card-img {
  min-width: 300px;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:nth-child(1),
  &:nth-child(3) {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &:nth-child(2) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

@media screen and (max-width: 850px) {
  .card {
    flex-direction: column;
  }

  .card-rev {
    flex-direction: column-reverse;
  }

  .card-img {
    min-height: 300px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
}

@media screen and (max-width: 1080px) {
  .card button,
  .card-rev button {
    max-width: 100%;
  }
}
