.main {
  max-width: 900px;
  height: 125vh;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 2;
}

.bg-1 {
  background-color: $n1;
}

.bg-2 {
  background-color: $n2;
}

.bg-3 {
  background-color: $n3;
}

.bg-4 {
  background-color: $n4;
}

.bg-5 {
  background-color: $n5;
}

.bg-blue-1 {
  background-color: $primary-1;
}

.f32 {
  font-size: 32px;
}

.f28 {
  font-size: 28px;
}

.f24 {
  font-size: 24px;
}

.f20 {
  font-size: 20px;
}

.f16 {
  font-size: 16px;
}

.f12 {
  font-size: 12px;
}

.f8 {
  font-size: 8px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.link {
  color: $n3;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.fixed {
  position: fixed;
  top: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.sticky-below-nav {
  position: -webkit-sticky;
  position: sticky;
  top: $nav-height;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
  top: 0;
  right: 0;
}

.expand {
  transition: height 5s ease;
  transition: width 0.3s ease;
}

.hide {
  display: none !important;
}

.bold {
  font-weight: bold;
}

.font-p {
  color: $font-p;
}

.font-s {
  color: $font-s;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.font-red {
  color: red;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-s {
  align-items: flex-start;
}

.align-c {
  align-items: center;
}

.align-e {
  align-items: flex-end;
}

.justify-s {
  justify-content: flex-start;
}

.justify-c {
  justify-content: center;
}

.justify-e {
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.w90 {
  height: 90%;
}

.w80 {
  width: 80%;
}

.w70 {
  height: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.h40 {
  height: 40%;
}

.h30 {
  height: 30%;
}

.h20 {
  height: 20%;
}

.h10 {
  height: 10%;
}

.vh100 {
  min-height: 100vh;
}

.vh90 {
  min-height: 90vh;
}

.vh80 {
  min-height: 80vh;
}

.vh70 {
  min-height: 70vh;
}

.vh60 {
  min-height: 60vh;
}

.vh50 {
  min-height: 50vh;
}

.vh40 {
  min-height: 40vh;
}

.vh30 {
  min-height: 30vh;
}

.vh20 {
  min-height: 20vh;
}

.vh10 {
  min-height: 10vh;
}

.img-cover {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-auto {
  width: 100%;
  height: auto;
}

.w-auto {
  width: auto;
  height: 100%;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml0 {
  margin-left: 0px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.ml28 {
  margin-left: 28px !important;
}

.ml32 {
  margin-left: 32px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mr28 {
  margin-right: 28px !important;
}

.mr32 {
  margin-right: 32px !important;
}

.mr36 {
  margin-right: 36px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mb56 {
  margin-bottom: 56px !important;
}

.m0 {
  margin: 0px !important;
}

.m4 {
  margin: 4px !important;
}

.m8 {
  margin: 8px !important;
}

.m12 {
  margin: 12px !important;
}

.m16 {
  margin: 16px !important;
}

.m20 {
  margin: 20px !important;
}

.m24 {
  margin: 24px !important;
}

.m28 {
  margin: 28px !important;
}

.m32 {
  margin: 32px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.pl16 {
  padding-left: 16px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.pl28 {
  padding-left: 28px !important;
}

.pl32 {
  padding-left: 32px !important;
}

.pl36 {
  padding-left: 36px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pr28 {
  padding-right: 28px !important;
}

.pr32 {
  padding-right: 32px !important;
}

.pr36 {
  padding-right: 36px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.p0 {
  padding: 0px !important;
}

.p4 {
  padding: 4px !important;
}

.p8 {
  padding: 8px !important;
}

.p12 {
  padding: 12px !important;
}

.p16 {
  padding: 16px !important;
}

.p20 {
  padding: 20px !important;
}

.p24 {
  padding: 24px !important;
}

.p28 {
  padding: 28px !important;
}

.p32 {
  padding: 32px !important;
}

.bs-1 {
  box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.2);
}

.bs-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bs-3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

.bs-hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
  }
}

.bs-hover-only:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ts-1 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
}

.border-p {
  border-style: solid;
  border-radius: $border-radius-base;
  border-color: $border-color-base;
  border-width: $border-width-base;
}

.r {
  border-radius: $border-radius-base;
}

.rt {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

.rb {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.rr {
  border-top-right-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.rl {
  border-top-left-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}

.background-p {
  background-color: $bg-color-base;
}

.o-hidden {
  overflow: hidden;
}

.o-y-scroll {
  overflow: hidden;
  &:hover,
  &:active,
  &:focus {
    overflow-y: scroll;
    overflow-y: overlay;
  }
}

.o-x-scroll {
  overflow: hidden;
  &:hover,
  &:active,
  &:focus {
    overflow-x: scroll;
    overflow-x: overlay;
  }
}

.o-hidden {
  overflow: hidden;
}

.o-y-hidden {
  overflow-y: hidden;
}

.o-x-hidden {
  overflow-x: hidden;
}

.background-img {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

// .scrollbar::-webkit-scrollbar-track {
//   border-radius: 8px;
//   background-color: transparent;
// }

// .scrollbar::-webkit-scrollbar-track-piece {
//   display: none;
// }

// .scrollbar::-webkit-scrollbar {
//   width: 8px;
//   background-color: #f5f5f5;
// }

// .scrollbar::-webkit-scrollbar-thumb {
//   border-radius: 12px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #555;
// }

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.jump:hover {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}

.transition-y {
  transition: height 0.3s ease;
}

.transition-x {
  transition: width 0.3s ease;
}

.fade-in {
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drop-down {
  animation: drop-down 0.3s ease-out;
}

@keyframes drop-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.h768 {
  display: none;
}

.h1080 {
  display: none;
}

@media screen and (max-width: 768px) {
  .h768 {
    display: inherit;
  }
}

@media screen and (max-width: 1080px) {
  .h1080 {
    display: inherit;
  }
}
