*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: $color-base;
  background-color: $bg-color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

b,
strong {
  font-weight: bold;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  text-align: inherit;
}

label {
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
}

button:focus {
  outline: 0px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 1.5;
}
