.dash-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.dash-btns button {
  &:nth-child(1) {
    margin-right: 8px;
  }
  &:nth-child(2) {
    margin-left: 8px;
  }
}

.dash-row table {
  flex: 1;
  border-collapse: collapse;
  &:nth-child(1) {
    margin-right: 4px;
  }
  &:nth-child(2) {
    margin-right: 4px;
    margin-left: 4px;
  }
  &:nth-child(3) {
    margin-left: 4px;
  }
}

.dash-cashflow button {
  top: 0;
  right: 0;
}

.dash-chart {
  min-height: 400px !important;
}

.save-form select {
  min-height: 144px;
}

@media screen and (max-width: 1250px) {
  .dash-desktop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .dash-btns {
    position: inherit;
    display: flex;
    flex-direction: column;
  }

  .dash-btns button {
    &:nth-child(1) {
      margin-right: 0px;
      margin-bottom: 16px;
    }
    &:nth-child(2) {
      margin-left: 0px;
    }
  }

  .dash-row {
    flex-direction: column;
  }
}
