.navbar {
  height: $nav-height;
  flex-wrap: nowrap;
  z-index: 1;
}

.navbar-side {
  width: 300px;
  min-width: 300px;
  height: $nav-height;
}

.navbar-main {
  max-width: 1500px;
}

.navbar-menu {
  display: none;
}

.nav-burger {
  position: absolute;
  left: 8px;
}

.user-dropdown {
  z-index: 111;
  background-color: $n1;
  width: 200px;
  position: absolute;
  top: 40px;
  right: 0px;
}

.icon {
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 1080px) {
  .navbar-menu {
    display: inherit;
  }
}
