.button-transp-p {
  display: flex;
  height: 40px;

  &:hover {
    background-color: $primary-3;
  }

  &:active {
    background-color: $primary-2;
  }
}

.button-transp-s {
  display: flex;
  height: 40px;

  &:hover {
    background-color: $primary-3;
  }

  &:active {
    background-color: $primary-2;
  }
}

.button-p {
  display: flex;
  height: 40px;
  background-color: $n4-transp;

  &:hover {
    background-color: $n5-transp;
  }

  &:active {
    background-color: $n6-transp;
  }
}

// .button-s {
//   display: flex;
//   height: 40px;

//   &:hover {
//     background-color: $primary-3;
//   }

//   &:active {
//     background-color: $primary-2;
//   }
// }
