.notifications {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  width: 300px;
}

.notification {
  min-height: $nav-height;
  background-color: $n5-transp;
}

.success {
  color: green;
}

.error {
  color: red;
}

.message {
  color: white;
}
